<!-- <section class="home position-relative">
    <img src="../../../assets/imagesBackground/c.jpg" height="600px" alt="not found" class="container-fluid p-3">
    <div class="phome position-absolute text-center text-white" style="top: 20%; left: 15%;">
        <p class="fs-1 mb-4" style="max-width: 300px;">The Best Place To Discover, Read & Engage With Book</p>
        <div class="btn btn-primary rounded-pill d-flex justify-content-center align-items-center">
            <span>ORDER NOW</span>
            <i class="fa-solid fa-arrow-right-long ms-2"></i>
        </div>
    </div>
</section> -->
<app-navu></app-navu>
<div class="banner">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="text-white font-weight-bold">The Best Place To Discover, Read & Engage With Book </h1>
                    <button class="btn btn-primary pr-5 pl-5">Order Now <i class="bi bi-arrow-right"></i> </button>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- <app-feature></app-feature>
 --><app-details></app-details>
<app-footer></app-footer>