img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}





.form-check-label {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.form-check-input {
  margin-top: 10px;
}

/* Style for the Visa payment form */
#visaPaymentForm {
  margin-top: 20px;
}

.form-group label {
  font-size: 14px;
  color: #555;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #ced4da;
  box-shadow: none;
  padding: 12px 15px;
  font-size: 16px;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-group input::placeholder {
  color: #aaa;
}

.btn {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.payment-method {
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 576px) {
  .container {
      padding: 20px;
  }
}
