<!-- <ul class="list-unstyled row">
    <li class="col-auto"> <a (click)="setview('courses')">Courses</a> </li>
    <li class="col-auto"> <a (click)="setview('certificate')">certificate</a> </li>
    <li class="col-auto"> <a (click)="setview('services')">services</a> </li>
</ul> -->
<!-- @switch(defaultview){
    @case("courses"){
        <div>list of courses</div>
    }
    
    @case("certificate"){
        <div>list of certificate</div>
    }
    @case("services"){
        <div>list of services</div>
    }
    @default{
        <div>default</div>
    }
} -->

<!-- 
<div [ngSwitch]="defaultview">
<div *ngSwitchCase="courses"> list of courses</div>
<div *ngSwitchCase="services"> list of services</div>
</div> -->

<!-- <div [ngSwitch]="defaultview">

    <div *ngSwitchCase="'courses'"> courses</div>
    <div *ngSwitchCase="'services'"> services</div>
    <div *ngSwitchCase="'certificate'">certificate</div>
    <div *ngSwitchDefault>default</div>
</div>  -->

<!-- <div [class.bg-dark]="">
    <h1>moataz</h1>
</div> -->

<!-- <i class="fa-solid fa-heart" [ngClass]="{'redHeart': isRed, 'defaultHeart': !isRed}" (click)="change()"></i>

<br>
<i class="fa-heart" [class.fa-solid]="liked" [class.fa-regular]="!liked" (click)="toggle()"></i> -->

<!-- <div [style]="{
    'border': text && text.trim() ? '1px solid black' : 'none'
}">
  {{ text }}
</div> -->

<button (click)="showSuccess()">Show Toaster</button>
<h1>Moataz</h1> 

