<main>
  <section class="featured-books">
      <div class="container text-center">
          <div class="row align-items-center mt-5 py-5">
              <div class="col-4 position-relative">
                  <div class="shadow p-3 bg-body-tertiary rounded">
                      <div class="border-start">
                          <h2>the book of the week: Kailee Pedersen on Sacrificial Animals</h2>
                          <i class="fa-solid fa-cloud position-absolute"></i>
                      </div>
                      <div class="border-end">
                          <i class="fa-solid fa-hippo position-absolute"></i>
                      </div>
                      <div class="border-end">
                          <i class="fa-solid fa-bell position-absolute"></i>
                      </div>
                  </div>
              </div>

              <div class="col-4">
                  <img class="w-100 photo" src="../../../assets/imagesBackground/Harry Potter.jpeg" alt="Book Cover">
              </div>

              <div class="col-4">
                  <div>
                      <p>whT IS THE IMPORTAN Quisquam, Lorem ipsum dolor sit amet consectetur adipisicing elit. A quibusdam. Quisquam, quibusdam. Quisquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam eius cupiditate similique aperiam, saepe, repellat, odit recusandae molestiae adipisci atque esse quis tenetur maxime aliquid! Sunt corrupti labore sed accusamus!</p>
                  </div>
                  <div>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, rerum?</p>
                  </div>
              </div>
          </div>

          <div class="border border-success p-2 mt-4">
              <h5>Benefits of eBooks</h5>
              <p>There are many benefits to owning and reading an eBook compared to a print book. Some of the main benefits are accessibility, portability, convenience, personalization, and privacy.</p>
              <p>Accessibility – you can instantly purchase and download eBooks in the palm of your hands.</p>
              <p>Portability – eBooks can go wherever you go, since they can be read on your phone or tablet.</p>
              <p>Convenience – you can add notes, highlights, bookmarks, and look up words directly on your eBook, which is especially great when you’re reading a guide, textbook, or workbook.</p>
              <p>Personalization – You can adjust the brightness of your screen, font size, and more.</p>
              <p>Privacy – You can read without others seeing what book you've chosen while commuting or while in public.</p>
          </div>
      </div>
  </section>
</main>
