<app-nava></app-nava>
<div class="container">
    <table class="table mt-3">
        <thead class="text-center">
            <tr>
                <th>Order Name</th>
                <th>Date</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let order of orders; let index=index">
                <td>{{ getArrayName(order) }}</td>

                <td>{{getRandomDate()}}</td>

                <td>{{ calculateTotal(order) | currency:'USD':true }}</td>

                <td>
                    <button type="button" class="btn btn-warning" (click)="setSelectedOrder(order)" data-toggle="modal"
                        data-target="#exampleModal">
                        View
                    </button>
                    <button type="button" class="btn btn-primary ml-3" (click)="acceptOrder(order.id)" >
                        Accept
                    </button>
                    <button type="button" class="btn btn-danger ml-3" (click)="deleteOrder(order.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <ul *ngIf="selectedOrderItems.length">
          <li *ngFor="let item of selectedOrderItems">
            {{ item.name }} - {{ item.price }} - {{ item.quantity }}
          </li>
        </ul> -->
        <table class="table mt-3">
          <thead class="text-center">
              <tr>
                  <th>Book Name</th>
                  <th>Book Image</th>
                  <th>Price</th>
                  <th>Quantity</th>
              </tr>
          </thead>
          <tbody class="text-center">
              <tr *ngFor="let item of selectedOrderItems">
                  <td>{{ item.name }}</td>
                  <td><img [src]=item.image alt=""></td>
                  <td>{{ item.price }}</td>
  
                  <td>{{ item.quantity }}</td>
              </tr>
          </tbody>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
